DATABASE_URL="postgresql://postgres:your-password@db.your-project.supabase.co:5432/postgres?sslmode=require"
PORT=4000
FRONTEND_URL="http://localhost:5173"
GEMINI_API_KEY="AIzaSyAGhfYbAwHuH12Zu3G0kYkidNWSZthfVp0"

